.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.idea/.name

.idea/checkstyle-idea.xml

.idea/compiler.xml

.idea/gradle.xml

.idea/jarRepositories.xml

.idea/libraries/Gradle__com_beust_jcommander_1_78.xml

.idea/libraries/Gradle__com_google_code_findbugs_jsr305_1_3_9.xml

.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_1.xml

.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_1_3.xml

.idea/libraries/Gradle__com_google_guava_guava_25_0_jre.xml

.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_1.xml

.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_11_0.xml

.idea/libraries/Gradle__com_squareup_okio_okio_1_14_0.xml

.idea/libraries/Gradle__net_bytebuddy_byte_buddy_1_8_15.xml

.idea/libraries/Gradle__org_apache_commons_commons_exec_1_3.xml

.idea/libraries/Gradle__org_checkerframework_checker_compat_qual_2_0_0.xml

.idea/libraries/Gradle__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml

.idea/libraries/Gradle__org_hamcrest_java_hamcrest_2_0_0_0.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_api_3_141_59.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_chrome_driver_3_141_59.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_edge_driver_3_141_59.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_firefox_driver_3_141_59.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_ie_driver_3_141_59.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_java_3_141_59.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_opera_driver_3_141_59.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_remote_driver_3_141_59.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_safari_driver_3_141_59.xml

.idea/libraries/Gradle__org_seleniumhq_selenium_selenium_support_3_141_59.xml

.idea/libraries/Gradle__org_slf4j_slf4j_api_1_7_32.xml

.idea/libraries/Gradle__org_testng_testng_7_5.xml

.idea/libraries/Gradle__org_webjars_jquery_3_5_1.xml

.idea/misc.xml

.idea/modules/mantis.iml

.idea/modules/mantis.test.iml

.idea/modules/sandboxx.test.iml

.idea/runConfigurations.xml

.idea/uiDesigner.xml

.idea/vcs.xml

addressbook/gradle/wrapper/gradle-wrapper.jar

addressbook/gradle/wrapper/gradle-wrapper.properties

addressbook/gradlew

addressbook/gradlew.bat
